
<div class="container" >
  <div class="">
    <h1>Courses deleted</h1>
    <a href="/me/stored/courses">List Courses</a>
  </div>
    <table class="table mt-4">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Course name</th>
      <th scope="col">Description</th>
      <th scope="col">Video Id</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each courses}}
    <tr>
      <th scope="row">{{sum @index 1}}</th>
      <td>{{this.name}}</td>
      <td>{{this.description}}</td>
      <td>{{this.videoId}}</td>
      <td><button type="button" class="btn btn-link btn-restore" data-bs-whatever="{{this._id}}">Restore</button></td>
      <td><button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#delete-course-modal" data-bs-whatever="{{this._id}}">Permanently deleted</button></td>
    </tr>
    {{else}}
            <tr>
              <td colspan="5" class="text-center">
                Trash empty!
                <a href="/me/stored/courses">List courses</a>
              </td>
            </tr>
    {{/each}}
  </tbody>
</table>
</div>


{{!-- Confirm delete course --}} 
<div class="modal fade" id="delete-course-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"> 
  <div class="modal-dialog"> <div class="modal-content"> 
    <div class="modal-header"> 
      <h1 class="modal-title fs-5" id="exampleModalLabel">Delete course?</h1> 
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> </div> 
      <div class="modal-body"> This action cannot be undone. Are you sure you want to permanently delete it? </div> 
      <div class="modal-footer"> 
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button> 
        <button type="button" class="btn btn-danger" id="btn-delete-course">Permanently deleted</button> 
        </div> 
        </div> 
        </div>
         </div>

{{!-- Delete hidden form --}} 
<form name="delete-course-form" method="POST"></form>
<form name="restore-course-form" method="POST"></form>

<script>
  document.addEventListener('DOMContentLoaded', function () { 
    var courseId; 
    var restoreBtn = document.querySelector('.btn-restore')
    var deleteForm = document.forms['delete-course-form']; 
    var restoreForm = document.forms['restore-course-form']; 
    var btnDeleteCourse = document.getElementById('btn-delete-course');

    // When dialog confirm clicked
    const exampleModal = document.getElementById('delete-course-modal')
    if (exampleModal) {
        exampleModal.addEventListener('show.bs.modal', event => {
            const button = event.relatedTarget
            courseId = button.getAttribute('data-bs-whatever')
        })
    }

    restoreBtn.onclick = function (){
      var id = restoreBtn.getAttribute('data-bs-whatever');
      
      restoreForm.action = '/courses/' + id + '/restore?_method=PATCH';
        restoreForm.submit();
    }
    // When delete course btn clicked
    btnDeleteCourse.onclick = function () {
        deleteForm.action = '/courses/' + courseId + '/force?_method=DELETE';
        deleteForm.submit();
    }
});
 
</script>